<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gallery">
    Launch static backdrop modal
</button>

<section>
    <div class="modal fade" id="gallery" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Gallery</h1>
                </div>
                <div id="imageRepository" class="modal-body d-flex flex-wrap align-items-center ">
                </div>
                <div class="modal-footer">
                    <form>
                        <div class="input-group">
                            <input id="input-file" type="file" accept="image/x-png, image/jpeg, " class="form-control"
                                   name="file" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <button class="btn btn-outline-secondary" id="upload-button" type="button">Upload</button>
                        </div>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/gallery.js" defer></script>
</section>
</body>
</html>
