<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/template :: head"></head>
<body>
<nav th:replace="fragments/template :: nav">
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Add New Car</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form action="/admin/car/add" method="post" th:object="${newCar}">
            <div class="mb-3">
                <label for="inputName" class="form-label">Name</label>
                <input type="text" id="inputName" class="form-control" placeholder="Name" th:field="*{name}"
                       required min="3">
            </div>
            <div class="mb-3">
                <label for="inputPrice" class="form-label">Daly Price</label>
                <input type="number" id="inputPrice" class="form-control" placeholder="Daly Price"
                       th:field="*{dalyPrice}"
                       required>
            </div>
            <div class="mb-3 form-switch">
                <input class="form-check-input" id="inputActive" type="checkbox" role="switch" th:field="*{active}">
                <label for="inputActive" class="form-check-label">Active</label>
            </div>
            <input type="hidden" th:field="*{picturePath}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h1>Fleet</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Picture</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Daily Price</th>
                    <th scope="col">Active</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car: ${cars}">
                    <td><img th:src="${car.picturePath}" width="150"></td>
                    <td th:text="${car.id}"></td>
                    <td th:text="${car.name}"></td>
                    <td th:text="${car.dalyPrice}"></td>
                    <td th:if="${car.isActive}">✅</td>
                    <td th:unless="${car.isActive}">❌</td>
                    <td><a th:href="@{'/admin/car/'+ ${car.id}}" type="button" class="btn btn-secondary">Edit</a></td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight">Add New Car
            </button>
        </div>
    </div>
</div>
</body>
</html>
