<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/template :: head"></head>
<body>
<nav th:replace="fragments/template :: nav">
</nav>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <h1> Search available car: </h1>
            <form action="/availablecar" method="post" th:object="${period}">
                <div class="row">
                    <div class="col-md-6">
                        <label for="dateFrom" class="col-sm-2 col-form-label">From:</label>
                        <input id="dateFrom" class="form-control" type="date" th:field="*{dateFrom}"
                               placeholder="Start Date">
                    </div>
                    <div class="col-md-6">
                        <label for="dateTo" class="col-sm-2 col-form-label">To:</label>
                        <input id="dateTo" class="form-control" type="date" th:field="*{dateTo}"
                               placeholder="End Date">
                    </div>
                </div>
                <div class="col-auto mt-1">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
