<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/template :: head}"></head>
<body>
<nav th:replace="~{fragments/template :: nav}">
</nav>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <h1> Place Order</h1>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img th:src="${car.picturePath}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><span th:text="${car.name}" th:remove="tag"></span></h5>
                            <p class="card-text">
                            <p class="card-text">Price pair day: <span th:text="${car.dalyPrice}"></span></p>

                        </div>
                    </div>
                </div>
            </div>
            <form action="/place-order" method="post" th:object="${req}">
                <div class="mb-3">
                    <label for="inputName" class="form-label">Name</label>
                    <input type="text" id="inputName" class="form-control" placeholder="Name" th:field="*{clientName}"
                           required min="5">
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email" th:field="*{email}"
                           required>
                </div>
                <div class="mb-3">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" id="inputAddress" class="form-control" placeholder="Address"
                           th:field="*{address}" required min="10">
                </div>
                <div class="mb-3">
                    <label for="inputPhoneNumber" class="form-label">Phone Number</label>
                    <input type="text" id="inputPhoneNumber" class="form-control" placeholder="Phone Number"
                           th:field="*{phoneNumber}" required min="9">
                </div>
                <input type="hidden" th:field="*{carId}">
                <input type="hidden" th:field="*{dateFrom}">
                <input type="hidden" th:field="*{dateTo}">
                <p>Reservation Period : <span th:text="*{dateFrom}"></span> - <span th:text="*{dateTo}"></span></p>
                <p>Price for <span th:text="${period.getDayBetween}"></span> day: <span
                        th:text="${period.getDayBetween * car.dalyPrice}"></span></p>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <small>Daily price is cover 24H Pickup and drop off at 8 AM</small>
        </div>
    </div>
</div>
</body>
</html>
